html {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
.slide1 {
    background-image: url(../images/slide1.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide2 {
    background-image: url(../images/slide2.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide3 {
    background-image: url(../images/slide3.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


.slide-box {
    height: max-content;
    width: 100vw;
}

.slide-content {
    max-width: 300vw;
    height: 10rem;
    display: flex;
}

.slide-content .input-button {
    display: none;
    margin: 0;
}

.slide-content input {
    position: absolute;
}

.slider-box {
    display: flex;
    position: relative;
    background-color: black;
    max-width: 100vw;
    height: 0rem;
    transition: all 1s ease-in-out;
}

.slide-info {
    position: relative;
    left: 10%;
    z-index: 2;
    color: var(--mainColor);
    margin-top: 2rem;
    font-size: 2.4rem;
    max-height: 45vh;
}

.slide-info h2 {
    margin: 2rem 0;
    font-size: 3vw;
}

.slide-info p {
    max-width: 50%;
    height: fit-content;
    font-size: 2.2vw;
}

.slide-info button {
    background-color: var(--mainColor);
    color: var(--lightColor);
    font-size: 1.6vw;
    border-radius: 0.6rem;
    border: 2px solid var(--lightColor);
    padding: 0.5vw;
    margin: 2rem 0;
    cursor: pointer;
}

.slide-info button:hover {
    transition: all 200ms ease-in-out;
    background-color: rgb(253, 92, 59);
    color: white;
}

.slide-info button:active {
    transition: all 200ms ease-in-out;
    background-color: var(--lightColor);
    color: var(--mainColor);
}

.slide-manual,
.slide-auto {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 44vw;
    top: 32vh;
}

.manual-btn {
    border: 4px solid var(--mainColor);
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
    width: 1vw;
    height: 1vw;
    z-index: 4;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.auto-btn1,
.auto-btn2,
.auto-btn3 {
    border: 4px solid var(--mainColor);
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
    width: 1vw;
    height: 1vw;
    z-index: 4;
    cursor: pointer;
    transition: all 600ms ease-in-out;
}

.manual-btn:not(:last-child),
.auto-btn1:not(:last-child),
.auto-btn2:not(:last-child),
.auto-btn3:not(:last-child) {
    margin-right: 4rem;
}

.manual-btn:hover {
    background-color: var(--mainColor);
    border: 4px solid var(--mainColor);
}

.manual-btn:active {
    transition: none;
    background-color: var(--lightColor);
    border: 4px solid var(--lightColor);
}

#slide1:checked~.slide-auto .auto-btn1,
#slide2:checked~.slide-auto .auto-btn2,
#slide3:checked~.slide-auto .auto-btn3 {
    z-index: 5;
    background-color: var(--mainColor);
    border: 4px solid var(--lightColor);
}

#slide1:checked~.slide1 {
    transition: 1s;
    margin: 0;
}

#slide2:checked~.slide1 {
    transition: 1s;
    margin-left: -100vw;
}

#slide3:checked~.slide1 {
    transition: 1s;
    margin-left: -200vw;
}

@media (max-width: 620px) {
    html {
        overflow-x: hidden;
    }

    .slide1 {
        background-image: url(../images/cll-bkg1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slide2 {
        background-image: url(../images/cll-bkg2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slide3 {
        background-image: url(../images/cll-bkg3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .slide-info {
        top: 28vw;
    }

    .slide-info h2 {
        max-width: 80vw;
        height: fit-content;
        font-size: 6vw;
        margin-bottom: 1rem;
    }

    .slide-info p {
        max-width: 80vw;
        height: fit-content;
        font-size: 5vw;
    }

    .slide-info button {
        margin: 2rem 0;
        font-size: 5vw;
    }

    .slide-manual,
    .slide-auto {
        top: 100vw;
        left: -14vw;
    }

    .first {
        position: relative;
        top: -3.8rem;
    }

}

@media (min-width: 1400px) {

    .slide-auto,
    .slide-manual {
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-left: 50vw;
        top: 32vh;
    }

    .slide-box {
        height: 40rem;
        width: 100vw;
    }

}
